.git
.github
.venv
.venvs
venv
**/__pycache__
**/*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
build
dist
*.egg-info
**/*.egg-info
.env
.env.*
**/*.pem
**/*.key
CoChem_Artifacts
scratch
tests
test_suite
UI/*_executed.ipynb
torq-review
